{% extends 'base.html' %}
{% load static %}

{% block title %} {{ action }} {% endblock %}

{% block main %}
    <div class="branco">
        <h1 id="certeza-texto" class="text-center">Tem certeza que deseja {{ action }} o cadastro de {{ cadastro.nome }}?</h1>    
        
        <form class="text-center" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <button class="btn btn-danger" type="submit">Sim, tenho certeza.</button>
            <a href="{% url 'lista' %}"><button id="nao" type="button" class="btn btn-info"> Não, me tire daqui.</button></a>
        </form>
        
    </div>

{% endblock %}